<h1>Add new item</h1>
<hr>
<form action="/add" method="POST">
<div class="input-field">
  <input id="title" name="title" type="text" class="validate" required>
  <label for="title">Item's title</label>
  <span class="helper-text" data-error="Enter title" ></span>
</div>
 

 <div class="input-field">
  <input id="price" name="price" type="text" class="validate" required  min="100">
  <label for="price">Item's price</label>
  <span class="helper-text" data-error="Enter cost" ></span>
</div>
 

 <div class="input-field">
  <input id="img" name="img" type="text" class="validate" required>
  <label for="img">Item's image URL</label>
  <span class="helper-text" data-error="Enter image URL" ></span>
</div>
<input type="hidden" name="_csrf" value="{{csrf}}">
<button class="btn btn-primary">Add item</<button>
  
 </form>